# Project exclude paths
/.gradle/
/.idea/
/build/

/Common/.gradle/
/Common/build/
/Common/run

/Fabric/.gradle/
/Fabric/build/
/Fabric/run/*
!/Fabric/run/options.txt

/Forge/.gradle/
/Forge/build/
/Forge/run/*
!/Forge/run/options.txt

/NeoForge/.gradle/
/NeoForge/build/
/NeoForge/run/*
!/NeoForge/run/options.txt